flows.json
[{"id":"21637881.0edc08","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c8d1a18e.8e3d","type":"ibmiot in","z":"21637881.0edc08","authentication":"apiKey","apiKey":"e3679d77.d8a83","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"meenakshi","applicationId":"","deviceType":"nodemcu2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":80,"wires":[["2331b51c.3b281a","e57a82a0.42a6f","eddbe04.e37bc2","10ff3faa.937da","b356a6dc.240068","646861c0.800f1"]]},{"id":"2331b51c.3b281a","type":"debug","z":"21637881.0edc08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"e57a82a0.42a6f","type":"ui_gauge","z":"21637881.0edc08","name":"","group":"88b1464c.7e6678","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temperature}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":160,"wires":[]},{"id":"eddbe04.e37bc2","type":"ui_gauge","z":"21637881.0edc08","name":"","group":"1032214a.b99d3f","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":"50","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":220,"wires":[]},{"id":"10ff3faa.937da","type":"ui_gauge","z":"21637881.0edc08","name":"","group":"5ddfe158.f07c3","order":0,"width":0,"height":0,"gtype":"gage","title":"Conductivity","label":"units","format":"{{msg.payload.conductivity}}","min":"30","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":280,"wires":[]},{"id":"b356a6dc.240068","type":"ui_gauge","z":"21637881.0edc08","name":"","group":"4b9e175a.b2ca88","order":0,"width":0,"height":0,"gtype":"gage","title":"pH","label":"units","format":"{{msg.payload.pH}}","min":"5","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":340,"wires":[]},{"id":"646861c0.800f1","type":"cloudant out","z":"21637881.0edc08","name":"","cloudant":"","database":"myprojdata","service":"node-red-tvqiq-2020--cloudant-1601557451676-41182","payonly":true,"operation":"insert","x":290,"y":40,"wires":[]},{"id":"e3679d77.d8a83","type":"ibmiot","z":"","name":"my API","keepalive":"60","serverName":"i5us7r.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"88b1464c.7e6678","type":"ui_group","z":"","name":"Temperature","tab":"7966e87d.fe0698","order":4,"disp":true,"width":"6","collapse":false},{"id":"1032214a.b99d3f","type":"ui_group","z":"","name":"Humidity","tab":"7966e87d.fe0698","order":5,"disp":true,"width":"6","collapse":false},{"id":"5ddfe158.f07c3","type":"ui_group","z":"","name":"Conductivity","tab":"7966e87d.fe0698","order":6,"disp":true,"width":"6","collapse":false},{"id":"4b9e175a.b2ca88","type":"ui_group","z":"","name":"pH","tab":"7966e87d.fe0698","order":7,"disp":true,"width":"6","collapse":false},{"id":"7966e87d.fe0698","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]